#hearder
{
    display: flex;
    background-color: rgba(255, 255, 255, 0.363);
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 6px 8px 34px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 34px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 8px 34px 0px rgba(0,0,0,0.75);
}
h1,p
{
    text-align: center;
     width: 100%;
}
#Postcontent, #aboutus
{
    display: block;
}
.btnMenu
{
    margin: auto;
    width: 60%;
    height: 100%;
   
}
.btnCpanel
{
    border: none;
    text-decoration: none;
    border-radius: 13px 13px 13px 13px;
    background-color: rgba(255, 255, 255, 0.678);
    height: 100%;
    width: 100px;
    transition: 0.3s;
}
.btnCpanel:hover
{
    border: none;
    text-decoration: none;
    box-shadow: 6px 8px 34px 0px  rgba(255, 166, 0);
    background-color: rgba(94, 94, 94, 0.733);
    color: white;
}
#menu
{
    
    height: 50px;
    background-color: rgba(255, 166, 0, 0.329);
    float: right;
    width: 100%;
    border-radius: 10px 10px 100px 100px;
}
body
{
    width: 100%;
    background-image: url("../ONG/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    background-color: white;
    background-attachment: fixed;
}
#logo
{
    background-image: url("../ONG/img/Untitled.png");
    background-repeat: round;
    margin-left: 40px;
    width: 100px;
    height: 100%;
    background-color: orchid;
    border-radius: 100px;
}
.content
{
    
    margin: auto;
    padding: 10px;
    width: 75%;
    height: 400px;
    background-color: rgba(248, 248, 248, 0.8);
    border-radius: 10px;
   
    margin-top: 10%;
    -webkit-box-shadow: 6px 8px 34px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 8px 34px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 8px 34px 0px rgba(0,0,0,0.75);
}
#newpost
{
    display: none;
    width: auto;
    height: auto;
    background-color: rgba(252, 252, 252, 0.8);
    position: fixed;
    top: 15%;
    left: 25%;
    -webkit-box-shadow: 6px 8px 34px 0px rgba(0, 0, 0, 0.808);
    -moz-box-shadow: 6px 8px 34px 0px rgb(0, 0, 0);
    box-shadow: 6px 8px 34px 0px rgba(0,0,0,0.75);
    padding: 10px;
}
footer
{
    
    height: 100px;
    background-color: rgba(255, 251, 0, 0.219);
    border-radius: 30px;
    width: 99%;
    margin: auto;
    margin-top: 10%;
    
   
}
#footerDiv
{
  
    padding: 20px;
}
.txtarea
{
    width: 500px;
    height: 300px;
}
.listPost
{
    position: relative;
    width: auto;
    height: 60px;
    margin: 10px;
    background-color: white;
    border: black 3px;
    padding: 10px;
}